*.iml
.gradle
/local.properties
.DS_Store
/build
/captures


projectFilesBackup/.idea/workspace.xml



java_pid21345.hprof

.idea/dictionaries/hcc.xml
.idea/workspace.xml___jb_tmp___
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
